/* Style for the entire todo list */
#todo-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    background-color: #6f9d70;
    border-radius: 5px;
  }
  
  /* Style for each individual todo item */
  #todo-list li {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(33.33% - 20px); /* Equal width for each item, considering margins */
    display: flex;
    flex-direction: column; /* Display todo details in a column */
    gap: 10px; /* Add space between lines */
    padding: 15px;
    white-space: pre-line; /* Allow text to wrap */
    box-sizing: border-box; /* Include padding in the width calculation */
  }
  #list-completed{
    background-color: #92c4f9;
  }
  #list-pending{
    background-color: #f7f7f7;
  }
  
  /* Style for the todo ID and topic section */
  #todo-id,
  #todo-topic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  /* Style for the todo number */
  #todo-id span {
    font-weight: bold;
    color: #555;
  }
  
  /* Style for the todo label (ID and topic) */
  #todo-id label,
  #todo-topic label {
    font-size: 1.2rem;
    color: #333;
    white-space: nowrap; /* Prevent labels from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for long labels */
  }
  #todo-topic label{
    background-color: #a9b4c0;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
  }
  
  /* Style for the "Done" status */
  #todo-topic span {
    font-weight: bold;
    color: #4CAF50;
  }
  
  /* Style for the todo description */
  #todo-list p {
    font-size: 1.1rem;
    color: #777;
    white-space: pre-wrap; /* Allow description text to wrap */
  }
  
  #todo-list button {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #button-pending{
    background-color: #af4c4c; /* Green */
    color: white;
  }
  #button-complete{
    background-color: #4CAF50; /* Green */
    color: white;
  }


  #select-option {
    display: inline-block;
    font-family: Arial, sans-serif;
    margin: 10px;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style the dropdown arrow */
  select::-ms-expand {
    display: none;
  }
  
  /* Style when the dropdown is open */
  select:focus {
    border-color: #4CAF50; /* Change to your desired focus color */
    outline: none;
    box-shadow: 0 0 5px #4CAF50; /* Change to your desired focus shadow */
  }
  