#form-container{
    /* background-color: #7fc083; */
    display: flex;
    justify-content: center;
}
/* Style for the todo form */
#todo-form {
    background-color: #f7f7f7;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Display form elements in a column */
    max-width: 400px; /* Set a maximum width for the form */
    width: 100%; /* Ensure the form takes the available width */
    align-self: center;
  }
  
  
  /* Style for form sections */
  #topic,
  #description {
    margin-bottom: 10px;
  }
  
  /* Style for form labels */
  #todo-form label {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    display: block;
  }
  
  /* Style for form inputs and textareas */
  #todo-form input,
  #todo-form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.1rem;
  }
  
  /* Style for the "Add Todo" button */
  .form-actions button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #45a049;
  }
  